body {
  background-color: #1f1c1c;
}

button {
  background-color: #7851a9;
  border: 1px solid #b9b9c3;
  transition: 0.5s;
}

footer {
  border-top: 1px solid #b9b9c3;
  color: #e0e0e0;
  font-size: 14px;
  font-style: italic;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}

h1 {
  color: #9d7bdb;
  font-style: cursive;
  text-align: center;
}

#results {
  color: #9e1b32;
}

.section-title {
  font-family: Gerogia, serif;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 30px;
  text-decoration: underline;
}

summary {
  color: #e0e0e0;
}

.underline {
  text-decoration: underline;
}